{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=your-database-host;Port=3306;Database=bankingapp;User=your-username;Password=your-password;SslMode=Required;"
  }
}
